<div class="video-background" ng-style="vm.backHeader">
    <div class="video-container">
        <div class="video-bg-roi">
            <video class="fade-in-video" preload="auto" autoplay="true" loop="loop" muted="muted" id="videoGB">
                <source src="./assets/videos/MeasureROI.mp4" type="video/mp4"> video not supported
            </video>
        </div>
        <div class="video-overlay"></div>
        <!-- <div class="img-back-roi"></div> -->
        <div class="imageText" ng-style="vm.paddingTopLogo"> <img src="./assets/images/mainpagelogo.png" alt="greenbooks logo">
            <div class="textBesideImage white-text">
                <p class="main">out of the <span class="changeText">guess</span>.</p>
                <p class="submain"><span>datadriven</span></p>
            </div>
        </div>
    </div>
    <div class="btn-scroll">
        <button class="btn-large waves-effect waves-light event-second-btn" ng-click="vm.scrollTo()">
            <i class="fa fa-chevron-down fa-2x"></i>
        </button>
    </div>
</div>
<div class="what" id="section-roi">
    <div class="section">
        <div class="container">
            <h1 class="center-align whatTitle">Measure training impact and ROI</h1>
            <div class="row blockWithQuote">
                <div class="col s12 m12 l6">
                    <div class="borderTopBottom">
                        <h5 class="leftH5"> Credible, data-driven and actionable reporting of your training impact and talent programs are critical for making right investment decisions. </h5> </div>
                </div>
                <div class="col s12 m12 l6">
                    <p class="paragraphWithoutTop"> Do your stakeholders want to see evidence of the program's impact? </p>
                    <p> By knowing what works in your learning portfolio, you can repeat successes and eliminate ineffective programs. Our method is based on the work of Donald L. Kirkpatrick, Dr J. Phillips, Robert Brinkerhoff and Josh Bersin. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="triangleWhite"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
    <div class="section trainingEvaluationSection">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l4 left-align">
                    <p class="container sectionTitle"><span class="underlineGreen">Training evaluation model</span></p>
                </div>
            </div>
            <div class="row paddingTop2rem paddingBottom5rem">
                <div class="col s12 m10 l8 push-l2 push-m1 medium-up-screen"> <img src="./assets/images/roi/Dashboard2-25.png" alt="Training evaluation model greenbooks"> </div>
            </div>
            <div class="row paddingBottom5rem small-screen">
                <div class="col s8 push-s2"> <img src="./assets/images/roi/dashboardX5-28.png" alt="Training evaluation model reaction greenbooks"> </div>
                <div class="col s8 push-s2"> <img src="./assets/images/roi/dashboardX5-32.png" alt="Training evaluation model learning greenbooks"> </div>
                <div class="col s8 push-s2"> <img src="./assets/images/roi/dashboardX5-29.png" alt="Training evaluation model application greenbooks"> </div>
                <div class="col s8 push-s2"> <img src="./assets/images/roi/dashboardX5-31.png" alt="Training evaluation model impact greenbooks"> </div>
                <div class="col s8 push-s2"> <img src="./assets/images/roi/dashboardX5-30.png" alt="Training evaluation model roi greenbooks"> </div>
            </div>
        </div>
    </div>
    <div class="triangleGrey"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l4 left-align">
                    <p class="container sectionTitle"><span class="underlineGreen">Advantage</span></p>
                </div>
            </div>
            <div class="advantageCustom">
                <div class="row center paddingTopAdvantage">
                    <div class="col s12 m6 l3"> <img src="./assets/images/roi/ROI-80.png" alt="icon advantage greenbooks">
                        <p>measure business impact attributed to training</p>
                    </div>
                    <div class="col s12 m6 l3"> <img src="./assets/images/roi/ROI-81.png" alt="icon advantage greenbooks">
                        <p class="fix-with-padding">provide evidence to the Stakeholders</p>
                    </div>
                    <div class="col s12 m6 l3"> <img src="./assets/images/roi/ROI-82.png" alt="icon advantage greenbooks">
                        <p>justify the training Budget</p>
                    </div>
                    <div class="col s12 m6 l3"> <img src="./assets/images/roi/ROI-83.png" alt="icon advantage greenbooks">
                        <p>determine the effectiveness of training</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="triangleWhite"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
    <div class="section twoSectionsBeside paddingBottom3rem greyBackground">
        <div class="container">
            <div class="row center paddingTop5rem">
                <div class="col s12 m6 l6 borderStraightRight">
                    <h5>ROI consulting service</h5> <a ui-sref="what.consulting" class="btn-large waves-effect waves-light btn-greenBooks-grey"><span>Read more</span></a> </div>
                <div class="col s12 m6 l6">
                    <h5>ROI workshop</h5> <a href class="btn-large waves-effect waves-light btn-greenBooks-grey" ui-sref="programs.measurement"><span>Read more</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="triangleGrey"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
    <slide-success></slide-success>
    <div class="triangleWhite"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
</div>
