<div class="first"></div>
<div class="success">
    <div class="success-content">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4 left-align">
                        <p class="container sectionTitle"><span class="underlineGreen">challenge</span></p>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="wide-content">
                                <p> India’s Largest domestic courier company: 930 offices in India; 10,000 plus employees; 220 countries served globally.</p>
                                <p class="padding-top-1rem">First Flight’s sales target for this financial year is 100 crores, against an achieved target of 50 crores in the last financial year. With an increased revenue target, First Flight also faces challenges in recruiting the right people, motivating its staff to work in the outskirts of the city, where the business is booming, and expanding customer relationships.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleWhite"></div>
        <div class="leftDivisionGreyBack"></div>
        <div class="rightDivisionGreyBack"></div>
        <div class="section greyBackground">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4 left-align">
                        <p class="container sectionTitle"><span class="underlineGreen">solution</span></p>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="wide-content">
                                <p class="important-text"> Immersion and recruitment </p>
                                <ol>
                                    <li> Greenbooks' consultant spent time with the First Flight sales team and management to understand the culture, beliefs and processes </li>
                                    <li> Set clear training goals and success objectives </li>
                                    <li> Support for First Flight in recruiting the right team </li>
                                </ol>
                                <p class="important-text padding-top-1rem"> Product and process training </p>
                                <ol>
                                    <li> Induction training on Process & Products </li>
                                    <li> Fundamental selling skills training </li>
                                </ol>
                                <p class="important-text padding-top-1rem"> Coaching </p>
                                <ol>
                                    <li> Continuous on-the-job coaching </li>
                                    <li> Track improvement process </li>
                                </ol>
                                <p class="important-text padding-top-1rem"> Evaluation and ROI </p>
                                <ol>
                                    <li> Evaluate training feedback </li>
                                    <li> Measure Return On Investment for the training </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleWhite"></div>
        <div class="leftDivisionGreyBack"></div>
        <div class="rightDivisionGreyBack"></div>
        <div class="greyBackground">
            <slide-success remove="4"></slide-success>
        </div>
        <div class="triangleGrey"></div>
        <div class="leftDivision"></div>
        <div class="rightDivision"></div>
    </div>
</div>
