<div class="section methodologies">
    <div class="container">
        <h1 class="center-align methoTitle">Webinar</h1>
        <div class="row blockWithQuote adjust-align">
            <div class="col s12 m12 l6 push-l6"> <img src="./assets/images/methodologies/methodoillustrations-06.png" alt="webinar greenbooks"> </div>
            <div class="col s12 m12 l6 pull-l6">
                <div class="borderTopBottom">
                    <h5 class="leftH5"> In the place of conventional slideshows, our webinars offer high–quality instruction through highly engaging, refreshing and convenient online workshops </h5> </div>
                <p> The ideal option for a company to train employees over widespread bases is through the webinar. </p>
                <p> While keeping costs low and quality high, we aim to bring the best of audio-visual learning right to where your learners are. </p><a href="#" class="btn-large waves-effect btn-greenBooks-grey" ui-sref="success.successStories">case studies</a> </div>
        </div>
    </div>
</div>
<div class="triangleWhite"></div>
<div class="leftDivision"></div>
<div class="rightDivision"></div>
<div class="section communicationDirec greyBackground">
    <div class="container metho-boxes">
        <h2 class="center-align methoTitle">Other methodologies</h2>
        <div class="row">
            <div class="col s12 m6 l4">
                <a href ui-sref="metho.elear">
                    <div class="blackBackground cursor-pointer"> <img src="./assets/images/methodologies/methodoillustrationsSMALL-11.png" alt="e-learning greenbooks">
                        <div class="textInside center">
                            <p>e-learning</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m6 l4">
                <a href ui-sref="metho.mlear">
                    <div class="blackBackground cursor-pointer"> <img src="./assets/images/methodologies/methodoillustrationsSMALL-10.png" alt="m-learning greenbooks">
                        <div class="textInside center">
                            <p>m-learning</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m6 l4">
                <a href ui-sref="metho.video">
                    <div class="blackBackground cursor-pointer"> <img src="./assets/images/methodologies/methodoillustrationsSMALL-12.png" alt="video greenbooks">
                        <div class="textInside center">
                            <p>video</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m6 l4">
                <a href ui-sref="metho.simu">
                    <div class="blackBackground cursor-pointer"> <img src="./assets/images/methodologies/methodoillustrationsSMALL-14.png" alt="simulation greenbooks">
                        <div class="textInside center">
                            <p>simulation</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m6 l4">
                <a href ui-sref="metho.gameBased">
                    <div class="blackBackground cursor-pointer"> <img src="./assets/images/methodologies/methodoillustrationsSMALL-15.png" alt="game-based greenbooks">
                        <div class="textInside center">
                            <p>game-based</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m6 l4">
                <a href ui-sref="metho.blended">
                    <div class="blackBackground cursor-pointer"> <img src="./assets/images/methodologies/methodoillustrationsSMALL-16.png" alt="blended learning greenbooks">
                        <div class="textInside center">
                            <p>blended learning</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="triangleGrey"></div>
<div class="leftDivision"></div>
<div class="rightDivision"></div>
