<div class="section leadership-event-background">
    <div class="event-information-background">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l8">
                    <h1 class="text-bold white-text">game-based leadership <br>skills workshop</h1>
                    <div class="table-greenbooks white-text">
                        <table>
                            <tr>
                                <th>Place</th>
                                <th>Date</th>
                            </tr>
                            <tr>
                                <td>Mumbai</td>
                                <td>19th & 20th, Sept 2016</td>
                            </tr>
                            <tr>
                                <td>Bangalore</td>
                                <td>26th & 27th, Sept 2016</td>
                            </tr>
                            <tr>
                                <td>New Delhi</td>
                                <td>3rd & 4th, Oct 2016</td>
                            </tr>
                            <tr>
                                <td>Chennai</td>
                                <td>20th & 21st, Oct 2016</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <a href ui-sref="register" class="btn-large waves-effect waves-light btn-greenBooks-grey btn-gradient-gb">register now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section paddingTop5rem paddingBottom5rem text-centralized center">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <p>Strengthen the leadership skills needed for managing high-performance teams through the</p>
                <p>Pacific game. A virtual world simulator. A thrilling video game. A classroom experience.</p>
            </div>
        </div>
    </div>
</div>
<div class="triangleWhite"></div>
<div class="leftDivision"></div>
<div class="rightDivision"></div>
<div class="products">
    <div class="section videoGameProducts paddingTop5rem greyBackground">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l10 push-l1">
                    <div class="video-container pc-background-video">
                        <iframe width="853" height="480" src="https://www.youtube.com/embed/iH6M-u9wElg" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="triangleGrey"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
    <div class="international-awards section paddingBottom3rem">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l4 left-align">
                    <p class="container sectionTitle"><span class="underlineGreen">international awards</span></p>
                </div>
            </div>
            <div class="row paddingTop2rem">
                <div class="col s12 m6 l4 center">
                    <img src="./assets/images/game/learnX-impact-awards-2016.png" alt="international awards image">
                </div>
                <div class="col s12 m6 l4 center">
                    <img src="./assets/images/game/e-learning-champion-2016.png" alt="international awards image">
                </div>
                <div class="col s12 m6 l4 center">
                    <img src="./assets/images/game/brandon-hall-excellence-2015.png" alt="international awards image">
                </div>
                <div class="col s12 m6 l4 center">
                    <img src="./assets/images/game/top-training-2014.png" alt="international awards image">
                </div>
                <div class="col s12 m6 l4 center">
                    <img src="./assets/images/game/best-of-elearning-2015-1.png" alt="international awards image">
                </div>
                <div class="col s12 m6 l4 center">
                    <img src="./assets/images/game/top-training-2014.png" alt="international awards image">
                </div>
            </div>
        </div>
    </div>
    <div class="triangleWhite"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
    <div class="whatWillYou greyBackground">
        <div class="textRight">
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m12 l6"> <img src="./assets/images/game/cpt3.png" alt="what learn greenbooks"> </div>
                        <div class="whatLearnText">
                            <div class="col s12 m12 l6">
                                <h2 class="text-bold paddingTop2rem">what will you learn from the game?</h2>
                                <ul>
                                    <li><i class="material-icons">play_arrow</i>Discover a step-by-step manual for managing high performance teams</li>
                                    <li><i class="material-icons">play_arrow</i>Practice techniques to increase the effectiveness and efficiency of his or her teams</li>
                                    <li><i class="material-icons">play_arrow</i>Learn hundreds of ideas for team-building, motivating and rewarding</li>
                                    <li><i class="material-icons">play_arrow</i>Strengthen his or her communication skills to improve task delegation, give feedback, perform coaching, and evaluate performance</li>
                                    <li><i class="material-icons">play_arrow</i>Learn tips for resolving conflicts within the team</li>
                                    <li><i class="material-icons">play_arrow</i>Increase self-confidence and trust in his or her leadership and personnel management skills</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="triangleGrey"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
</div>
<div class="about">
    <div class="section sectionInformations">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l7">
                    <div class="paddingBottom4rem">
                        A video game in which the participant must lead a team to survive and make it off the island where they are trapped. The participants will enjoy a unique survival adventure while learning and practising lessons about the reality of teams, leadership, motivation, conflict resolution, delegation and empowerment.
                    </div>
                    <div class="whatWillLearn">
                        <div class="borderBottom"> <img class="imageIcon" src="./assets/images/about/smallicon1.png" alt="icon right for me greenbooks"> <span class="textBesideIcon">Is it right for you?</span> </div>
                        <p> This workshop is right for you if you are engaged in leading or managing a team, or training leaders and managers at your workplace.</p>
                    </div>
                    <div class="paddingTop4rem whatWillLearn">
                        <div class="borderBottom"> <img class="imageIcon" src="./assets/images/about/Smallicon5-05.png" alt="icon what will learn greenbooks"> <span class="textBesideIcon">what will it cover?</span> </div>
                        <ul>
                            <span class="text-bold">Module I: Inside out</span>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Knowing myself and analysing how my nature affects the team</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Detecting if I am contributing to a problem</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Considering how I can improve, teach by example and use feedback as a tool for continuous improvement</li>
                        </ul>
                        <ul class="marginTop2rem">
                            <span class="text-bold">Module II: Give meaning to the team</span>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Establishing the mission and vision of the team</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Setting rules, principles and values for the work the team is doing</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Planning short-term and long-term goals. Both as a group and as individuals</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Establishing the functions and responsibilities of the people on the team</li>
                        </ul>
                        <ul class="marginTop2rem">
                            <span class="text-bold">Module III: Build team spirit</span>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Encouraging deep mutual understanding among the members of the team</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Analysing the strong and weak points of the people and of the team</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Creating an environment of trust and interdependence</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Promotion of teamwork</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Using team-building to improve team spirit and performance</li>
                        </ul>
                        <ul class="marginTop2rem">
                            <span class="text-bold">Module IV: Motivate</span>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Detecting and comprehending the needs and motivations of each person</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Comprehending and utilising motivational factors</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Using resources and tools to increase the motivation of the team and its members</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Using communication as a tool for motivating</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Recognising and rewarding results</li>
                        </ul>
                        <ul class="marginTop2rem">
                            <span class="text-bold">Module V: Develop</span>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Improving the communication skills of everyone in the team</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Interpersonal communication</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Solving problems and making decisions</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Resolving conflicts quickly and efficiently</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Improving the efficiency and effectiveness of daily work</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Time management</li>
                        </ul>
                        <ul class="marginTop2rem">
                            <span class="text-bold">Module VI: Strengthen</span>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Understanding the mechanisms of effective delegation</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Using delegation</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Giving and receiving positive and negative feedback</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Communication as a catalyst for performance</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Evaluating performance</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Coaching</li>
                        </ul>
                    </div>
                    <div class="paddingTop4rem whatWillLearn">
                        <div class="borderBottom"> <img class="imageIcon" src="./assets/images/about/whatcanigetICON-18.png" alt="icon what will learn greenbooks"> <span class="textBesideIcon">what will you get?</span> </div>
                        <ul>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>1 year access to the game</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Resource guide</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Activity sheets</li>
                            <li> <i class="material-icons triangleIcon">play_arrow</i>Certificate of completion</li>
                        </ul>
                    </div>
                </div>
                <div class="col s12 m12 l4 push-l1">
                    <div class="aviability">
                        <div class="col s12 m6 l12 whatWillLearn">
                            <div class="resources">
                                <span class="text-bold">resources</span>
                                <ul class="availability-check">
                                    <li> <img src="./assets/images/about/resourcesicon-15.png" alt="icon pdf"><a href ng-click="vm.getLeadershipBrochure()" class="btn-large waves-effect waves-light btn-greenBooks-grey">download brochure</a></li>
                                    <li> <img src="./assets/images/about/emailicon-17.png" alt="icon pdf"><a href ng-click="vm.explainBoss()" class="btn-large waves-effect waves-light btn-greenBooks-grey">explain this to your boss</a></li>
                                </ul>
                            </div>
                            <div class="paddingTop4rem">
                                <span class="text-bold padding-top-medium">program duration</span>
                                <ul class="availability-check">
                                    <li> <i class="material-icons triangleIcon">play_arrow</i>Two days</li>
                                </ul>
                            </div>
                            <div class="paddingTop4rem">
                                <span class="text-bold padding-top-medium">dates and venue</span>
                                <ul class="availability-check">
                                    <li> <i class="material-icons triangleIcon">play_arrow</i>19th & 20th, Sept 2016 - Mumbai</li>
                                    <li> <i class="material-icons triangleIcon">play_arrow</i>26th & 27th, Sept 2016 - Bangalore</li>
                                    <li> <i class="material-icons triangleIcon">play_arrow</i>3rd & 4th, Oct 2016 - Delhi</li>
                                    <li> <i class="material-icons triangleIcon">play_arrow</i>20th & 21st, Oct 2016 - Chennai</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col s12 m6 l12 whatWillLearn marginTop4rem">
                            <div>
                                <span class="text-bold padding-top-medium">program fee</span>
                                <ul class="availability-check">
                                    <li> <i class="material-icons triangleIcon">play_arrow</i>Regular fee per – <span class="transform-to-capital">INR</span> 24,000/-*</li>
                                    <li> <i class="material-icons triangleIcon">play_arrow</i>Early bird offer (valid till 31st <span class="transform-to-capital">J</span>uly 2016) – <span class="transform-to-capital">INR</span> 21,600/- *</li>
                                    <li> <i class="material-icons triangleIcon">play_arrow</i>Group discount
                                        <br>2-3 participants – 10% discount
                                        <br>4-5 participants – 15% discount
                                        <br>6 or more participants – 20% discount
                                        <br>
                                        <br>* - all fee are exclusive of service tax.
                                        <br>* - group discount will also apply on multiple programs.
                                    </li>
                                </ul>
                                <div class="marginTop2rem">
                                    <a ui-sref="register" class="btn-large waves-effect waves-light btn-greenBooks-grey btn-gradient-gb">register now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="paddingBottom3rem"></div>
            </div>
        </div>
    </div>
    <div class="triangleWhite"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
    <div class="section feedback-general facilitators-adjust greyBackground paddingBottom5rem">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l4 left-align">
                    <p class="container sectionTitle"><span class="underlineGreen">facilitators</span></p>
                </div>
            </div>
            <div class="row paddingTop2rem">
                <div class="col s12 m6 l6 center">
                    <div class="content-feedback">
                        <a href ng-click="vm.modalFacilitator(0)">
                            <img class="circle" src="./assets/images/facilitators/facilitator-18.png" alt="Shyam Sunder greenbooks negotiation">
                            <div class="name-company">
                                <p class="p2">Shyam Sunder</p>
                                <p class="p3">Lead facilitator</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col s12 m6 l6 padding-top-small">
                    <div class="content-feedback center">
                        <a href ng-click="vm.modalFacilitator(1)">
                            <img class="circle" src="./assets/images/facilitators/facilitator-17.png" alt="Deepthi Boddupalli greenbooks negotiation">
                            <div class="name-company">
                                <p class="p2">Deepthi Boddupalli</p>
                                <p class="p3">Support facilitator</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="triangleGrey"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
    <div class="testmonials-videos section">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l4 left-align">
                    <p class="container sectionTitle"><span class="underlineGreen">testimonials</span></p>
                </div>
            </div>
            <div class="row">
                <div class="slider">
                    <div class="animated fadeIn">
                        <div class="col s12 m12 l8 push-l2">
                            <div class="video-container">
                                <iframe width="853" height="480" ng-src="https://www.youtube.com/embed/76EF1RoJAIg" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="triangleWhite"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
    <div class="testmonials-videos feedback-general section greyBackground">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l4 left-align">
                    <p class="container sectionTitle"><span class="underlineGreen">feedback</span></p>
                </div>
            </div>
            <div class="row paddingTop2rem">
                <div class="col s12 m12 l12 center">
                    <div ng-show="0 == vm.controlSlide['feedback'].index" class="animated fadeIn area-feedback">
                        <img class="circle" ng-src="./assets/images/testmonials/yolando.png" alt="Yolanda Huerga photo">
                        <div class="content-feedback">
                            <p class="p1">"Challenging, competitive and, above all, very effective."</p>
                            <div class="name-company">
                                <p class="p2">Yolanda Huerga</p>
                                <p class="p3">HR director at Philips</p>
                            </div>
                        </div>
                    </div>
                    <div ng-show="1 == vm.controlSlide['feedback'].index" class="animated fadeIn area-feedback">
                        <img class="circle" ng-src="./assets/images/testmonials/daniel.png" alt="Daniel Ferreiro photo">
                        <div class="content-feedback">
                            <p class="p1">"It changed behaviors within my own company. It was spectacular."</p>
                            <div class="name-company">
                                <p class="p2">Daniel Ferreiro</p>
                                <p class="p3">HR responsible at Sanitas</p>
                            </div>
                        </div>
                    </div>
                    <div ng-show="2 == vm.controlSlide['feedback'].index" class="animated fadeIn area-feedback">
                        <img class="circle" ng-src="./assets/images/testmonials/fancisco.png" alt="Francisco de la Calle photo">
                        <div class="content-feedback">
                            <p class="p1">"We want every euro invested in training to obtain maximum performance, and that is what we have achieved."</p>
                            <div class="name-company">
                                <p class="p2">Francisco de la Calle</p>
                                <p class="p3">C&B Manager at Novartis</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m12 l12 slider-nav">
                    <a href class="arrow-prev" ng-click="vm.goPrev('feedback')"><i class="material-icons">keyboard_arrow_left</i></a>
                    <ul class="slider-dots">
                        <li class="dot" ng-class="{'active-dot': 0 == vm.controlSlide['feedback'].index}" ng-click="vm.clickDot(0, 'feedback')"></li>
                        <li class="dot" ng-class="{'active-dot': 1 == vm.controlSlide['feedback'].index}" ng-click="vm.clickDot(1, 'feedback')"></li>
                        <li class="dot" ng-class="{'active-dot': 2 == vm.controlSlide['feedback'].index}" ng-click="vm.clickDot(2, 'feedback')"></li>
                    </ul>
                    <a href class="arrow-next" ng-click="vm.goNext('feedback')"><i class="material-icons">keyboard_arrow_right</i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="triangleGrey"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
    <div class="section section-event-registerNow paddingTop4rem paddingBottom3rem">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6 center border-padding">
                    <p>Block your seat for the workshop</p>
                    <div><a ui-sref="register" class="btn-large waves-effect waves-light btn-greenBooks-grey btn-gradient-gb">register now</a></div>
                </div>
                <div class="col s12 m6 l6 center just-padding">
                    <p>Also available as a self learning game</p>
                    <div><a href ng-click="vm.requestCall()" class="btn-large waves-effect waves-light btn-greenBooks-grey btn-gradient-gb">contact us</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="hide-triangle-line">
        <div class="triangleGrey"></div>
        <div class="leftDivision"></div>
        <div class="rightDivision"></div>
    </div>
    <div class="section btn-gradient-gb section-we-bet-you">
        <div class="container paddingTop5rem paddingBottom5rem">
            <div class="row">
                <div class="col s12 m12 l12 center">
                    Know someone that would love this event? We bet you do.
                    <div class="all-circles">
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//greenbookslearning.com/products/game-based/leadership-skills&title=game-based%20leadership%20skill%20workshop&summary=Play%20the%20world%E2%80%99s%20best%20game-based%20simulator%20to%20learn%20leadership%20skills!%0ACheck%20it%20out%20http%3A//greenbookslearning.com/products/game-based/leadership-skills" target="_blank">
                            <div class="circle"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></div>
                        </a>
                        <a href="http://www.facebook.com/sharer.php?u=http://greenbookslearning.com/products/game-based/leadership-skills" target="_blank">
                            <div class="circle"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></div>
                        </a>
                        <a href='https://twitter.com/home?status=Play%20the%20world%E2%80%99s%20best%20game-based%20simulator%20to%20learn%20leadership%20skills!%0ACheck%20it%20out%20http%3A//bit.ly/29QjnVY' target="_blank">
                            <div class="circle"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="leadership-modal-event" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12 m12 l12">
                <form id="negotiation-event-form" name="form-products">
                    <div class="input-field col s12 m12"> <i class="material-icons md-24 prefix">account_circle</i>
                        <input id="FirstName" type="text" class="validate" ng-model="vm.eventInformations.name" name="FirstName" required>
                        <label for="FirstName">full name*</label>
                    </div>
                    <div class="input-field col s12 m6"> <i class="material-icons md-24 prefix">domain</i>
                        <input id="company" name="company" type="text" class="validate" ng-model="vm.eventInformations.company" required="" aria-required="true">
                        <label for="company">company*</label>
                    </div>
                    <div class="input-field col s12 m6"> <i class="material-icons md-24 prefix">work</i>
                        <input id="designation" type="text" class="validate" ng-model="vm.eventInformations.designation" name="designation" required>
                        <label for="designation">designation*</label>
                    </div>
                    <div class="input-field col s12 m6"> <i class="material-icons md-24 prefix">phone</i>
                        <input id="Phone" name="Phone" type="text" class="validate" ng-model="vm.eventInformations.phone" required="" aria-required="true">
                        <label for="Phone">phone number*</label>
                    </div>
                    <div class="input-field col s12 m6"> <i class="material-icons md-24 prefix">email</i>
                        <input id="EmailAddress" type="email" class="validate" ng-model="vm.eventInformations.email" name="EmailAddress" required>
                        <label for="EmailAddress">email*</label>
                    </div>
                    <button href type="submit" class="btn-large col s6 m4 l4 push-s3 push-m4 push-l4 waves-effect waves-light btn-greenBooks-grey products" ng-click="vm.getBrochure(vm.eventInformations)">submit</button>
                    <br />
                    <input type="hidden" name="MXHOrgCode" value="7983" />
                    <input type="hidden" name="MXHLandingPageId" value="7940ec3a-fbc5-11e5-b61b-22000aa8e760" />
                    <input type="hidden" name="MXHFormBehaviour" value="0" />
                    <input type="hidden" name="MXHFormDataTransfer" value="0" />
                    <input type="hidden" name="MXHRedirectUrl" value="/" />
                    <input type="hidden" name="MXHAsc" value="5" />
                    <input type="hidden" name="MXHPageTitle" value="products form" />
                    <input type="hidden" name="MXHOutputMessagePosition" value="0" />
                    <input type="hidden" name="MXHIsExternallyUsed" value="1" />
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href class=" modal-action waves-effect waves-green btn-flat modal-close">close</a>
    </div>
</div>
<div id="explain-boss-leadership" class="modal">
    <div class="row">
        <div class="col s12 m12 l12 ">
            <h4 class="center paddingTop2rem paddingBottom2rem">explain to your boss about the leadership skills workshop</h4>
            <div class="content-text">
                <p>
                    We have tried to draft a request email, which will help you explain to your management why this is a good investment and why it makes sense for you to participate.
                </p>
                <p>
                    Here are the benefits of the program to the organisation that you may want to customise to convince your boss about the Leadership Skills workshop.
                </p>
                <p>
                    Hi &lt;Add your boss’s name here>,
                </p>
                <p>
                    I understand that justifying budgets for people development initiatives in our organisation have become very stringent. However, I also know that you, as a leader, work towards the improvement of your people.
                </p>
                <p>
                    I have come across a 2-day Leadership Skills Workshop, which I believe will strengthen my team management and leadership skills.
                </p>
                <p>
                    This workshop has a unique blend of online game-based learning modules and facilitator-led activities, interventions and feedback sessions. I am positive this workshop will help improve my communication, coaching, task delegation and conflict resolution skills.
                </p>
                <p>
                    The online-game has been designed after 12 years of research based on interviews with hundreds of CEOs, presidents and managers all over the world. This workshop is 100% practical and hands-on in nature and is a complete leadership and team management guide.
                </p>
                <p>
                    I am positive this investment will be a great opportunity to improve our organisation’s team culture and management.
                </p>
                <p>
                    I have all the details of the program, and look forward to discuss this with you. In the meantime, click <a href="https://youtu.be/YopbkCYSIEU" target="_blank">here</a> to view a demo of the challenging online game-based module.
                </p>
                <p>
                    Regards
                    <br>(YOU)
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
</div>
