<div class="triangleWhite"></div>
<div class="leftDivisionGreyBack"></div>
<div class="rightDivisionGreyBack"></div>
<div class="section our-people greyBackground">
    <div class="container other-team">
        <h2 class="center-align methoTitle">Other team members</h2>
        <div class="row large-screen">
            <div class="position-relative greyBackground">
                <div ng-repeat="member in otherMembers">
                    <div class="col s12 m6 l4">
                        <div class="members">
                            <a ui-sref="{{member.page}}"> <img class="img-people" ng-src="{{member.img1}}" alt="{{member.name}} greenbooks">
                                <div class="name-position">
                                    <p class="name">{{member.name}}</p>
                                    <p class="position">{{member.position}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div><a href><i class="material-icons arrow-left" ng-click="goPrevious()">keyboard_arrow_left</i></a> <a href><i class="material-icons arrow-right" ng-click="goNext()">keyboard_arrow_right</i></a> </div>
        </div>
        <div class="row medium-screen">
            <div class="position-relative greyBackground">
                <div ng-repeat="memberM in otherMembersM">
                    <div class="col s12 m6 l4">
                        <div class="members">
                            <a ui-sref="{{memberM.page}}"> <img class="img-people" ng-src="{{memberM.img1}}" alt="{{memberM.name}} greenbooks">
                                <div class="name-position">
                                    <p class="name">{{memberM.name}}</p>
                                    <p class="position">{{memberM.position}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div><a href><i class="material-icons arrow-left" ng-click="goPreviousM()">keyboard_arrow_left</i></a> <a href><i class="material-icons arrow-right" ng-click="goNextM()">keyboard_arrow_right</i></a> </div>
        </div>
        <div class="row small-screen">
            <div class="position-relative greyBackground">
                <div ng-repeat="memberS in otherMembersS">
                    <div class="col s12 m6 l4">
                        <div class="members">
                            <a ui-sref="{{memberS.page}}"> <img class="img-people" ng-src="{{memberS.img1}}" alt="{{memberS.name}} greenbooks">
                                <div class="name-position">
                                    <p class="name">{{memberS.name}}</p>
                                    <p class="position">{{memberS.position}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div><a href><i class="material-icons arrow-left" ng-click="goPreviousS()">keyboard_arrow_left</i></a> <a href><i class="material-icons arrow-right" ng-click="goNextS()">keyboard_arrow_right</i></a> </div>
        </div>
    </div>
</div>
