<div class="image-background" ng-style="vm.backHeader">
    <div class="img-back-communication"></div>
    <div class="imageText" ng-style="vm.paddingTopLogo"> <img src="./assets/images/mainpagelogo.png" alt="greenbooks logo">
        <div class="textBesideImage white-text">
            <p class="main">out of the <span class="changeText">uncertainty</span>.</p>
            <p class="submain"><span>clarity</span></p>
        </div>
    </div>
    <div class="btn-scroll">
        <a href class="btn-large waves-effect waves-light event-second-btn" ng-click="vm.scrollTo()">
            <i class="fa fa-chevron-down fa-2x"></i>
        </a>
    </div>
</div>

<div class="section competencies" id="section-communication">
    <h1 class="center-align methoTitle">Communication</h1>
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l8 push-l2 center">
                <p class="p1"> Communication skills are critical to any organization’s success and progress. All individuals must be able to communicate effectively to audiences, in groups and in one-on-one conversations, across all levels of the organization and beyond. </p>
            </div>
        </div>
    </div>
</div>
<div class="triangleWhite"></div>
<div class="leftDivision"></div>
<div class="rightDivision"></div>
<div class="competencies">
    <div class="section communicationDirec greyBackground">
        <div class="container">
            <h2 class="center-align methoTitle">communication programs</h2>
            <div class="row">
                <div class="col s12 m6 l4">
                    <a href ui-sref="programs.fundamentals">
                        <div class="blackBackground cursor-pointer"> <img src="./assets/images/competencies/fundamentalcommuSMALL.png" alt="fundamentals of business communication greenbooks">
                            <div class="textInside center">
                                <p>fundamentals of business communication</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m6 l4">
                    <a href ui-sref="programs.presentation">
                        <div class="blackBackground cursor-pointer"> <img src="./assets/images/competencies/presentationskillSMALL.png" alt="presentation skills greenbooks">
                            <div class="textInside center">
                                <p>presentation skills</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m6 l4">
                    <a href ui-sref="programs.masterful">
                        <div class="blackBackground cursor-pointer"> <img src="./assets/images/competencies/masterfulpresentSMALL.png" alt="masterful presentation skills greenbooks">
                            <div class="textInside center">
                                <p>masterful presentation skills</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m6 l4">
                    <a href ui-sref=" programs.feedback">
                        <div class="blackBackground cursor-pointer"> <img src="./assets/images/competencies/effectivefeedbackSMALL.png" alt="effective feedback greenbooks">
                            <div class="textInside center">
                                <p>effective feedback</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m6 l4">
                    <a href ui-sref="programs.conflict">
                        <div class="blackBackground cursor-pointer"> <img src="./assets/images/competencies/conflictSMALL.png" alt="conflict resolution greenbooks">
                            <div class="textInside center">
                                <p>conflict resolution</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m6 l4">
                    <a href ui-sref="programs.business">
                        <div class="blackBackground cursor-pointer"> <img src="./assets/images/competencies/bussinesswritingSMALL.png" alt="business writing greenbooks">
                            <div class="textInside center">
                                <p>business writing</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m6 l4">
                    <a href ui-sref="programs.email">
                        <div class="blackBackground cursor-pointer"> <img src="./assets/images/competencies/emailSMALL.png" alt="email excellence greenbooks">
                            <div class="textInside center">
                                <p>email excellence</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m12 l8 talkExperts">
                    <div class="blackBackground"> <img src="/assets/images/competencies/black.png" alt="greenbooks blank background">
                        <div class="textInside center">
                            <div class="paddingTop">
                                <p> can’t find what you’re looking for?
                                    <br/> <span class="p2">talk to our experts</span>
                                    <br/> <span class="p1">8880 100 200</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="triangleGrey"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
</div>
