<div class="section competencies greyBackground">
    <div class="container header-icons-competencies">
        <div class="row">
            <div class="col s12 m6 l4 push-l4 push-m3">
                <img src="./assets/images/competencies/icons/ProductiveMeeting.png">
            </div>
        </div>
    </div>
</div>
<div class="competencies">
    <div class="section greyBackground">
        <div class="container">
            <h1 class="center-align methoTitle">Conducting productive meetings</h1>
            <div class="row">
                <div class="col s12 m12 l8 push-l2 center">
                    <p class="p1"> Organize and conduct meetings that are effective and interactive to gain time and increased productivity. By the end of this program, you will master the techniques and skills to prepare, communicate, conduct and conclude meetings. With a strong focus on communication, clarity, dealing with difficult situations and exploring the best of the talent around, this program has the potential to change meetings in your organization. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="triangleGrey"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
    <div class="section sectionInformations">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l8">
                    <div>
                        <div class="borderBottom"> <img class="imageIcon" src="./assets/images/about/smallicon1.png" alt="icon right for me greenbooks"> <span class="textBesideIcon">Is it right for me?</span> </div>
                        <p> Suitable for all individuals who are required to run, conduct and lead any kind of meeting successfully. </p>
                    </div>
                    <div class="paddingTop2rem whatWillLearn">
                        <div class="borderBottom"> <img class="imageIcon" src="./assets/images/about/smallicon2.png" alt="what will learn greenbooks"> <span class="textBesideIcon">What will I learn?</span> </div>
                        <ul>
                            <li ng-repeat="what in vm.willILearnList track by $index"> <i class="material-icons triangleIcon">play_arrow</i>{{what}}</li>
                        </ul>
                    </div>
                    <div class="borderBottom paddingTop2rem"> <img class="imageIcon" src="./assets/images/about/smallicon3.png" alt="duration greenbooks"> <span class="textBesideIcon">Duration</span> </div>
                    <p> One day. </p>
                    <div class="paddingTop2rem gb-colapsible">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header" ng-click="vm.changeIcon(0)">What will it cover? <i class="material-icons">{{vm.whatIcon}}</i></div>
                                <div class="collapsible-body" ng-show="0==vm.showSection">
                                    <what-will-conducting></what-will-conducting>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col s12 m12 l4">
                    <div class="aviability">
                        <div class="row">
                            <span>Availability</span>
                            <ul class="availability-check">
                                <li><img class="imageCheck" src="./assets/images/about/tick2.png" alt="icon availability greenbooks">Public Program</li>
                                <li><img class="imageCheck" src="./assets/images/about/tick1.png" alt="icon availability greenbooks">Off the shelf</li>
                                <li><img class="imageCheck" src="./assets/images/about/tick2.png" alt="icon availability greenbooks">Game-based</li>
                                <li><img class="imageCheck" src="./assets/images/about/tick1.png" alt="icon availability greenbooks">Customizable</li>
                            </ul>
                        </div>
                        <div class="row">
                            <a href="" target="_blank" class="btn-large waves-effect waves-light btn-greenBooks-grey marginTop3rem">Tweet about the workshop</a>
                            <p class="paddingTop3rem"><span>Question?</span>
                                <br/>amit@greenbooks.co.in
                                <br/>or call us at 8880-100-200 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="triangleWhite"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
    <slide-productivity remove="2"></slide-productivity>
    <div class="triangleGrey"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
    <div class="hide-section">
        <div class="sectionRegisterNow">
            <div class="section">
                <div class="container">
                    <div class="row center">
                        <div class="col s12 m6 l6 borderStraightRight"> <a href class="btn-large waves-effect waves-light btn-greenBooks-grey">Register Now</a>
                            <p>Registration is purely on a first come first serve basis as the seats are limited</p>
                        </div>
                        <div class="col s12 m6 l6"> <a href="mailto:amit@greenbooks.co.in" target="_blank" class="btn-large waves-effect waves-light btn-greenBooks-grey">Question?</a>
                            <p>Email: amit@greenbooks.co.in or call Amit at 8880 100 200</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleWhite"></div>
        <div class="leftDivision"></div>
        <div class="rightDivision"></div>
    </div>
</div>
