<div class="image-background productivity-content-image" ng-style="vm.backHeader">
    <div class="img-back-productivity"></div>
    <div class="imageText" ng-style="vm.paddingTopLogo"> <img src="./assets/images/mainpagelogo.png" alt="greenbooks logo">
        <div class="textBesideImage white-text">
            <p class="main">out of the <span class="changeText">average</span>.</p>
            <p class="submain"><span>excellent</span></p>
        </div>
    </div>
    <div class="btn-scroll">
        <a href class="btn-large waves-effect waves-light event-second-btn" ng-click="vm.scrollTo()">
            <i class="fa fa-chevron-down fa-2x"></i>
        </a>
    </div>
</div>
<div class="section competencies" id="section-productivity">
    <h1 class="center-align methoTitle">Productivity</h1>
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l8 push-l2 center">
                <p class="p1"> Productivity is the oil that keeps processes and systems running smoothly. Be it with an individual or an organisation, the ability to marry efficiency with effort is absolutely key. </p>
            </div>
        </div>
    </div>
</div>
<div class="triangleWhite"></div>
<div class="leftDivision"></div>
<div class="rightDivision"></div>
<div class="competencies">
    <div class="section communicationDirec greyBackground">
        <div class="container">
            <h2 class="center-align methoTitle">productivity programs</h2>
            <div class="row">
                <div class="col s12 m6 l4">
                    <a href ui-sref="programs.insane">
                        <div class="blackBackground cursor-pointer"> <img src="./assets/images/competencies/insaneproductivitySMALL.png" alt="insane productivity greenbooks">
                            <div class="textInside center">
                                <p>insane productivity</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m6 l4">
                    <a href ui-sref="programs.negotiations">
                        <div class="blackBackground cursor-pointer"> <img src="./assets/images/competencies/winningnegoSMALL.png" alt="winning negotiations greenbooks">
                            <div class="textInside center">
                                <p>winning negotiations</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m6 l4">
                    <a href ui-sref="programs.conducting">
                        <div class="blackBackground cursor-pointer"> <img src="./assets/images/competencies/productivemeetingSMALL.png" alt="conducting productive meetings greenbooks">
                            <div class="textInside center">
                                <p>conducting productive meetings</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m6 l4">
                    <a href ui-sref="programs.creativity">
                        <div class="blackBackground cursor-pointer"> <img src="./assets/images/competencies/creativityinnovatnSMALL.png" alt="creativity and Innovation greenbooks">
                            <div class="textInside center">
                                <p>creativity and Innovation</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m12 l8 talkExperts">
                    <div class="blackBackground"> <img src="./assets/images/competencies/black.png" alt="black background greenbooks">
                        <div class="textInside center">
                            <div class="paddingTop">
                                <p> can’t find what you’re looking for?
                                    <br/> <span class="p2">talk to our experts</span>
                                    <br/> <span class="p1">8880 100 200</span> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="triangleGrey"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
</div>
