<div class="register">
    <div class="section confirmation">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l8 push-l2">
                    <p>Thank you for registering for this public program.</p>
                    <p class="second">We have temporarily blocked your seat. One of our consultants will reach out to you within 24 hours to help you with the invoice and payment information.</p>
                    <p class="third"><strong>NOTE:</strong> The final confirmation of seat will only happen upon the full payment of the registration fee before the workshop. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="triangleWhite"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
</div>
