<div class="roi"></div>
<div class="success">
    <div class="success-content">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4 left-align">
                        <p class="container sectionTitle"><span class="underlineGreen">Programme introduction</span></p>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <p class="wide-content"> This program emphasizes the ROI Methodology developed by industry leader Dr. Jack Phillips. Participants will experience the application of the ROI Process model. This includes developing application impact objectives, isolating the effects of the program, converting data to monetary values, tabulating the appropriate program costs, and calculating the ROI. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleWhite"></div>
        <div class="leftDivisionGreyBack"></div>
        <div class="rightDivisionGreyBack"></div>
        <div class="section greyBackground">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4 left-align">
                        <p class="container sectionTitle"><span class="underlineGreen">Success</span></p>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <p class="wide-content"> Open programs for individuals to meet ROI-specific learning needs. Since 2009, we have helped around 300 L&D professionals build this capability. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleGrey"></div>
        <div class="leftDivision"></div>
        <div class="rightDivision"></div>
        <!-- <div class="section">
            <div class="container">
                <h2 class="center-align methoTitle">Related Stories</h2>
                <div class="row success-stories">
                    <div class="col s10 m6 l4 push-s1 push-m3 push-l4 relativePosition" ng-repeat="successStory in vm.successStories | filter:'analytics' | filter:'!success.roi'">
                        <a ui-sref="{{successStory.url}}">
                            <div class="blackBrackground animated fadeIn"> <img class="img1" ng-src="{{successStory.img1}}" alt="{{successStory.alt}}"> <img class="img2" ng-src="{{successStory.img2}}" alt="{{successStory.alt}}"> </div>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
        <div>
            <slide-success remove="7"></slide-success>
        </div>
        <div class="triangleWhite"></div>
        <div class="leftDivision"></div>
        <div class="rightDivision"></div>
    </div>
</div>
