<div class="image-background career-content-image" ng-style="vm.backHeader">
    <div class="img-back-career" style="min-width: 101%;"></div>
    <div class="reasons-to-join" ng-style="vm.paddingTopLogo">
        <img src="./assets/images/career/Career-08.png" alt="5 reasons to join greenbooks">
    </div>
    <div class="btn-scroll">
        <a href class="btn-large waves-effect waves-light event-second-btn" ng-click="vm.scrollTo()">
            <i class="fa fa-chevron-down fa-2x"></i>
        </a>
    </div>
</div>
<div class="about" id="section-career">
    <div class="career">
        <div class="section career-paragraph">
            <div class="container">
                <div class="row">
                    <div class="col s12 m12 l8 push-l2 center">
                        <p> Toss up a salad of diversity, interactivity and flexibility, with a generous sprinkle of fun and a sinful dollop of excitement and you get Greenbooks. Join us if you want in on this delight for the taste buds of the working soul. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section career-division">
            <div class="leftDivision"></div>
            <div class="rightDivision"></div>
            <div class="container">
                <div class="text-number">
                    <div class="box">
                        <p>1</p>
                    </div>
                    <h3 class="title">We are a tribe of learners</h3>
                </div>
            </div>
            <div class="yellow-color">
                <div class="triangleWhite"></div>
            </div>
        </div>
        <div class="section career-content">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l6"> <img src="assets/images/career/C1.png" alt="tribe of learners greenbooks"> </div>
                    <div class="col s12 m6 l6">
                        <p class="first-paragraph"> The passion for learning spills over into everything that we do. Yes, everything. When it’s misty, you might just see us breathing awesome learning designs. </p>
                        <p class="not-first-paragraph"> We even created our own song! </p>
                        <p class="not-first-paragraph bold"> ‘Tribe of learners’ </p>
                        <audio controls>
                            <source src="assets/songs/GreenBooksJingle.mp3" type="audio/mpeg"> Your browser does not support the audio element. </audio>
                    </div>
                </div>
            </div>
        </div>
        <div class="section career-division">
            <div class="reverse-triangle">
                <div class="triangleWhite"></div>
            </div>
            <div class="triangleWhite"></div>
            <div class="leftDivision"></div>
            <div class="rightDivision"></div>
            <div class="container">
                <div class="text-number">
                    <div class="box">
                        <p>2</p>
                    </div>
                    <h3 class="title">Drive you to be out of the _______</h3>
                </div>
            </div>
            <div class="yellow-color">
                <div class="triangleWhite"></div>
            </div>
        </div>
        <div class="section career-content">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l6 push-m6 push-l6"> <img src="assets/images/career/C2.png" alt="out of the box greenbooks"> </div>
                    <div class="col s12 m6 l6 pull-m6 pull-l6">
                        <p class="first-paragraph"> The work culture in Greenbooks drives you to be out of the <u>box</u> - to think creative, out of the <u>average</u> - to be great, out of the <u>status quo</u> - to explore awesomeness. We’re all about undoing the knots and ties of limitations and do not acknowledge unicorns like impossibilities. Limitations? Impossibilities? Nope, not in our vocabulary. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section career-division">
            <div class="leftDivision"></div>
            <div class="rightDivision"></div>
            <div class="container">
                <div class="text-number">
                    <div class="box">
                        <p>3</p>
                    </div>
                    <h3 class="title">No redundant policies and bullshit rules</h3>
                </div>
            </div>
            <div class="yellow-color">
                <div class="triangleWhite"></div>
            </div>
        </div>
        <div class="section career-content">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l6"> <img src="assets/images/career/C3.png" alt="redundant policies and bullshit rules greenbooks"> </div>
                    <div class="col s12 m6 l6">
                        <p class="first-paragraph"> Language aside, we believe in the freedom of working conditions and timings, as preferred by the individual, for maximum efficiency. (Night Owls, Lark, etc). </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section career-division">
            <div class="reverse-triangle">
                <div class="triangleWhite"></div>
            </div>
            <div class="triangleWhite"></div>
            <div class="leftDivision"></div>
            <div class="rightDivision"></div>
            <div class="container">
                <div class="text-number">
                    <div class="box">
                        <p>4</p>
                    </div>
                    <h3 class="title">Entrepreneurial culture</h3>
                </div>
            </div>
            <div class="yellow-color">
                <div class="triangleWhite"></div>
            </div>
        </div>
        <div class="section career-content">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l6 push-m6 push-l6"> <img src="assets/images/career/C4.png" alt="Entrepreneurial culture greenbooks"> </div>
                    <div class="col s12 m6 l6 pull-m6 pull-l6">
                        <p class="first-paragraph"> It is a platform to experiment and grow. More than employees, we are innovators, experimenters, craftsmen and visionaries. As a collect, we aim to transform individuals and organization to expand their capacity to create the results they truly desire. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section career-division">
            <div class="leftDivision"></div>
            <div class="rightDivision"></div>
            <div class="container">
                <div class="text-number">
                    <div class="box">
                        <p>5</p>
                    </div>
                    <h3 class="title">Personal Development – self-growth opportunities</h3>
                </div>
            </div>
            <div class="yellow-color">
                <div class="triangleWhite"></div>
            </div>
        </div>
        <div class="section career-content">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l6"> <img src="assets/images/career/C5.png" alt="self-growth opportunities greenbooks"> </div>
                    <div class="col s12 m6 l6">
                        <p class="first-paragraph"> GB believes that when we grow, the firm grows. Lay the foundation individually and you get a rock solid entity as a whole. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section join-us">
            <p class="title">join us today!</p>
            <p class="paragraph">email: career@greenbooks.co.in</p>
        </div>
    </div>
</div>
