<!-- <div class="image-background">
    <div class="img-back-add"></div>
</div> -->
<div class="about">
    <div class="section">
        <div class="container">
            <h1 class="center-align methoTitle">Analytics - Design - Digital (ADD)</h1>
            <div class="row">
                <div class="col s12 m12 l8 push-l2 center">
                    <p class="p1 paddingBottom5rem"> ADD is a proven architecture that blends Analytics, Design and Digital Learning. Combined, these form a comprehensive circle of learning. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="triangleWhite"></div>
    <div class="leftDivisionGreyBack"></div>
    <div class="rightDivisionGreyBack"></div>
    <div class="section paddingTop5rem addAboutPage greyBackground">
        <div class="container">
            <div class="row center">
                <div class="col s12 l4 push-l4"> <img src="./assets/images/add/ADDicon-07.png" alt="learning analytics greenbooks"> </div>
            </div>
            <div class="paddingTop2rem"></div>
            <div class="row blockWithQuote">
                <div class="col s12 m12 l6">
                    <div class="borderTopBottom">
                        <h5 class="leftH5"> Numbers paint a picture — good, bad or indifferent. They show us where we are in relation to where we want to be or where we were. </h5> </div>
                </div>
                <div class="col s12 m12 l6">
                    <p class="paragraphWithoutTop"> One of the strongest predictors of a high-impact learning organization is learning measurement. Our Learning Analytics systems (a five-level framework inspired by Kirkpatricks & Jack Phillips) offer various insights that show you how successful you are in your learning initiatives. Our analytics generate both qualitative and quantitative data and provide the technique needed to isolate the effects of the program through control groups, estimates, trends etc. – resulting in credible metrics and ROI reports, that are accepted by CFOs and other stakeholders. </p>
                    <p> With the right insights, CLOs make better decisions and present their case to influencing decision-makers to launch or eliminate programs, improve programs and even persuade them in increasing program budgets. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="triangleGrey"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
    <div class="section paddingTop5rem addAboutPage">
        <div class="container">
            <div class="row center">
                <div class="col s12 s12 l4 push-l4"> <img src="./assets/images/add/ADDicon-08.png" alt="learning design greenbooks"> </div>
            </div>
            <div class="paddingTop2rem"></div>
            <div class="row blockWithQuote">
                <div class="col s12 m12 l6">
                    <div class="borderTopBottom">
                        <h5 class="leftH5"> We firmly believe that every learning design should do two things - improve business outcomes and bring a change in job performance for your workforce. </h5> </div>
                </div>
                <div class="col s12 m12 l6">
                    <p class="paragraphWithoutTop"> A successful design takes the long-term view into account by considering business needs, human development behaviors and continuous measurement systems to bring change. Of the many impact studies we have conducted or reviewed over the years, we have observed key patterns of design structures that enhance results. We use these patterns in our learning design to create ‘program structures’ and ‘learning transfer strategies’ to align programs to business measures and drive outcomes, launch programs, eliminate/improve programs and even persuade them to increase program budgets. </p>
                    <p> “Tell me and I forget, teach me and I may remember, involve me and I learn.” (Benjamin Franklin). </p>
                    <p> We approach our designs with this spirit of combining empathy, creativity, and rationality to develop innovative learning and content solutions - to empower learners to participate, engage, and change.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="triangleWhite"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
    <div class="section paddingTop5rem addAboutPage greyBackground">
        <div class="container">
            <div class="row center">
                <div class="col s12 l4 push-l4"> <img src="./assets/images/add/ADDicon-09.png" alt="digital learning greenbooks"> </div>
            </div>
            <div class="paddingTop2rem"></div>
            <div class="row blockWithQuote">
                <div class="col s12 m12 l6">
                    <div class="borderTopBottom">
                        <h5 class="leftH5"> People now have an average attention span of 8 seconds. Therefore, flexibility and speed of knowledge dissemination is now vital. </h5> </div>
                </div>
                <div class="col s12 m12 l6">
                    <p class="paragraphWithoutTop"> Leveraging devices such as tablets, phablets and smartphones heightens the scope for delivering learning content and performance support. </p>
                    <p> Asynchronous, virtual classrooms allow learning to happen anywhere – the way the modern learner demands it. Out-of-the-box teaching methods such as gamification can make the learners engage with up to 3 times more of the learning material. Therefore, we use simulations, visualizations, games and narratives to explain concepts. Factoring in theories such as spaced learning, assessing learning after each section and reviewing material contributes greatly to the learning experience. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="triangleGrey"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
</div>
