<div class="mindtree"></div>
<div class="success">
    <div class="success-content">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4 left-align">
                        <p class="container sectionTitle"><span class="underlineGreen">Challenge</span></p>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <p class="wide-content"> Mindtree’s Orchard program, the 3 months induction module, had gone though a radical change in design, and a steep increase in cost. As a result, the L&D were questioned on the effectiveness of the design and the justification of the cost </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleWhite"></div>
        <div class="leftDivisionGreyBack"></div>
        <div class="rightDivisionGreyBack"></div>
        <div class="section greyBackground">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4 left-align">
                        <p class="container sectionTitle"><span class="underlineGreen">Approach</span></p>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <p class="wide-content"> Mindtree engaged GreenBooks to conduct an impact study and report the results. GreenBooks took a step by step approach to collect and analyse data at all four levels (reaction, learning, application and results). Once the business impact was identified, we used tools to isolate the impact of the training and to calculate the ROI for the increased accuracy and credibility of the report. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleGrey"></div>
        <div class="leftDivision"></div>
        <div class="rightDivision"></div>
        <div class="section wide-content-image">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4 left-align">
                        <p class="container sectionTitle"><span class="underlineGreen">Results</span></p>
                    </div>
                </div>
                <div class="paddingTop2rem"></div>
                <div class="row blockWithQuote ">
                    <div class="col s12 m12 l4 center"> <img src="./assets/images/success/ROI-34.png" alt="roi results image"> </div>
                    <div class="col s12 m12 l8">
                        <div class="borderTopBottom">
                            <h5 class="leftH5"> With a positive ROI on the study, Mindtree is convinced that the investment on the Orchard program is worthwhile and the sponsors have agreed for more investments on the program. </h5> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleWhite"></div>
        <div class="leftDivisionGreyBack"></div>
        <div class="rightDivisionGreyBack"></div>
        <!-- <div class="section greyBackground">
            <div class="container">
                <h2 class="center-align methoTitle">Related Stories</h2>
                <div class="row success-stories">
                    <div class="col s10 m6 l4 push-s1 push-m3 push-l4 relativePosition" ng-repeat="successStory in vm.successStories | filter:'analytics' | filter:'!success.mindtree'">
                        <a ui-sref="{{successStory.url}}">
                            <div class="blackBrackground animated fadeIn"> <img class="img1" ng-src="{{successStory.img1}}" alt="{{successStory.alt}}"> <img class="img2" ng-src="{{successStory.img2}}" alt="{{successStory.alt}}"> </div>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="greyBackground">
            <slide-success remove="0"></slide-success>
        </div>
        <div class="triangleGrey"></div>
        <div class="leftDivision"></div>
        <div class="rightDivision"></div>
    </div>
</div>
