<div class="about">
    <div class="digital-badges">
        <div class="section">
            <div class="container">
                <h2 class="center-align methoTitle">Digital badges / Certifications</h2>
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="wide-content">
                            <p>We use badges to digitally represent a learner’s abilities, achievements and skills. Each badge is embedded with comprehensive information, including who has earned the badge, its criteria, learning evidence and who has endorsed it. All this information is packaged within a tiny badge image file that can be displayed via online social networking sites.</p>
                            <p class="padding-top-1rem">The advantages of badges lie in their ability to motivate the learner to earn more badges and thereby, more skills. Motivation is said to be the single biggest determiner of academic success. This is especially useful in a level-based training program, where a badge is earned on the acquisition of a skill.</p>
                            <p class="padding-top-1rem">We can support you each step of the way on your Open Badge journey, from developing your initial idea to creating a global badge solution. See more at: <a href="https://credly.com/u/greenbooks" target="_blank">https://credly.com/u/greenbooks</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleWhite"></div>
        <div class="leftDivision"></div>
        <div class="rightDivision"></div>
        <!-- <div class="section digital-buttons"> <ul> <li ng-repeat="tab in vm.tabs track by $index" ng-class="tab.cls" ng-click="vm.chooseTab($index)"> <a href="">{{tab.name}}</a> </li></ul> </div>-->
        <div class="section greyBackground">
            <!-- <skill-badges ng-show="vm.tabs[0].tab"></skill-badges> <process-badges ng-show="vm.tabs[1].tab"></process-badges> <accomplishment-badges ng-show="vm.tabs[2].tab"></accomplishment-badges> <steps-badges ng-show="vm.tabs[3].tab"></steps-badges> -->
            <div class="container">
                <skill-badges></skill-badges>
                <process-badges></process-badges>
                <accomplishment-badges></accomplishment-badges>
                <steps-badges></steps-badges>
            </div>
        </div>
    </div>
    <div class="triangleGrey"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
</div>
