<div class="deutsche"></div>
<div class="success">
    <div class="success-content">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4 left-align">
                        <p class="container sectionTitle"><span class="underlineGreen">Challenge</span></p>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="wide-content">
                                <p> A miscommunication, in general, can lead to losses at the monetary level. And the stakes are even higher with banks. A leading German Bank proactively wanted to address their existing communication challenges before they started incurring losses due to miscommunication. Their main challenges were: </p>
                                <ol>
                                    <li>To reduce email iterations</li>
                                    <li>To bring the different proficiency levels of the employees to an acceptable level</li>
                                    <li>Write reports that brought absolute clarity</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleWhite"></div>
        <div class="leftDivisionGreyBack"></div>
        <div class="rightDivisionGreyBack"></div>
        <div class="section greyBackground">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4 left-align">
                        <p class="container sectionTitle"><span class="underlineGreen">Solution</span></p>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="wide-content">
                                <p>A Business English blended learning intervention that was highly customized to assess, train, coach and build capabilities with gamified elements.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleGrey"></div>
        <div class="leftDivision"></div>
        <div class="rightDivision"></div>
        <div class="section wide-content-image">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4 left-align">
                        <p class="sectionTitle"><span class="underlineGreen">Results</span></p>
                    </div>
                </div>
                <div class="paddingTop2rem"></div>
                <div class="row blockWithQuote ">
                    <div class="col s12 m12 l4 center"> <img src="./assets/images/success/Application-34.png" alt="application results image"> </div>
                    <div class="col s12 m12 l8 without-margin-top">
                        <div class="borderTopBottom">
                            <h5 class="leftH5"> 98% of the participants indicated their grammar skills have improved as a result of the program<br/> 89% of the managers noticed a reduction in grammar errors in their reportees’ email<br/> 98% of the participants said they were able to structure their emails better after the program<br/> 67% of the managers now spend lesser time checking their reportees’ emails<br/> 97% of the participants said they are now confident of their ability to write error free email </h5> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleWhite"></div>
        <div class="leftDivisionGreyBack"></div>
        <div class="rightDivisionGreyBack"></div>
        <!-- <div class="section greyBackground">
            <div class="container">
                <h2 class="center-align methoTitle">Related Stories</h2>
                <div class="row success-stories">
                    <div class="col s12 m6 l4 relativePosition" ng-repeat="successStory in vm.successStories | filter:'design' | filter:'!success.deutsche'">
                        <a ui-sref="{{successStory.url}}">
                            <div class="blackBrackground animated fadeIn"> <img class="img1" ng-src="{{successStory.img1}}" alt="{{successStory.alt}}"> <img class="img2" ng-src="{{successStory.img2}}" alt="{{successStory.alt}}"> </div>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="greyBackground">
            <slide-success remove="3"></slide-success>
        </div>
        <div class="triangleGrey"></div>
        <div class="leftDivision"></div>
        <div class="rightDivision"></div>
    </div>
</div>
