<div class="manipal"></div>
<div class="success">
    <div class="success-content">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4 left-align">
                        <p class="container sectionTitle"><span class="underlineGreen">challenge</span></p>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="wide-content">
                                <p> Sikkim Manipal University (Estd) 1995 is a Public-Private partnership between the Government of Sikkim and the Manipal Group. (SMU-DE) is a leading provider of professional Distance Learning Programs in India, such as MBA, MCA, BCA, BBA and others. </p>
                                <p class="padding-top-1rem"> Manipal wants to train their 6800 counselors on Consultative Counseling skills that: </p>
                                <ol>
                                    <li>Provide a guiding experience for the students</li>
                                    <li>Identify student motivators</li>
                                    <li>Map their requirements to the available courses</li>
                                    <li>Communicate more effectively and build strong relationships</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleWhite"></div>
        <div class="leftDivisionGreyBack"></div>
        <div class="rightDivisionGreyBack"></div>
        <div class="section greyBackground">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4 left-align">
                        <p class="container sectionTitle"><span class="underlineGreen">solution</span></p>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="wide-content">
                            <p> Implement driving principles that high performers use to ensure a successful counseling process: </p>
                                <ol>
                                    <li>A model of counseling process seen from the buyer’s point of view, linked with key skills at each stage</li>
                                    <li>Practical skills and tools to open the call, advance the conversation and conclude the call for positive outcomes</li>
                                    <li>Techniques on creating interest, handling objections, focusing on needs, benefits, presenting solutions and closing sales</li>
                                    <li>Candidate-focused attitudes and beliefs development</li>
                                    <li>Counseling conversations moved forward</li>
                                    <li>Effective questioning skills applied to uncover needs</li>
                                    <li>Courses translated to meet the candidate’s motivations</li>
                                    <li>Increase number of candidates who take up the course</li>
                                </ol>
                                <p class="padding-top-1rem"> Materials developed: </p>
                                <ol>
                                    <li>scorecard</li>
                                    <li>counseling process</li>
                                    <li>content to develop counseling skills</li>
                                    <li>content to develop tele-calling skills (including script)</li>
                                    <li>training through webinars</li>
                                    <li>scenarios to practice the counseling process and skills</li>
                                    <li>assessments for learning the application of skills on the job</li>
                                    <li>create peer review</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleGrey"></div>
        <div class="leftDivision"></div>
        <div class="rightDivision"></div>
        <div class="section content-outline">
            <div class="container">
                <h2 class="center-align">content outline</h2>
                <h3 class="center-align">consultative counseling skills training</h3>
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="wide-content">
                            <p> The dynamics of today’s marketplace provides a candidate with multiple options to choose from, for his development needs. Counselors must see the world from the candidate’s point of view and shape conversations that directly address candidate’s needs, motivations and expectations to get him committed to a course with SMUDE. </p>
                            <p class="padding-top-1rem"> The Consultative Counseling skills develop critical attitudes, skills and practices for interacting with candidates. The modules are based on best practices that distinguish high-performing sales. </p>
                            <p class="important-text padding-top-1rem"> Key content </p>
                            <ol>
                                <li>Driving principles that high performers use to ensure a successful counseling process</li>
                                <li>A model of counseling process seen from the buyer’s point of view, linked with key skills at each stage</li>
                                <li>Practical skills and tools to open the call, advance the conversation and conclude the call for positive outcomes</li>
                                <li>Techniques on creating interest, handling objections, focusing on needs, benefits, presenting solutions and closing sales.</li>
                            </ol>
                            <p class="important-text padding-top-1rem"> Outcomes </p>
                            <ol>
                                <li> Develop candidate-focused attitudes and beliefs </li>
                                <li> Move counseling conversations forward </li>
                                <li> Apply effective questioning skills to uncover needs </li>
                                <li> Translate courses to meet the candidate motivations </li>
                                <li> Successfully convert more candidates to take up the course </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleWhite"></div>
        <div class="leftDivisionGreyBack"></div>
        <div class="rightDivisionGreyBack"></div>
        <div class="greyBackground">
            <slide-success remove="5"></slide-success>
        </div>
        <div class="triangleGrey"></div>
        <div class="leftDivision"></div>
        <div class="rightDivision"></div>
    </div>
</div>
