<div class="video-background" ng-style="vm.backHeader">
    <div class="video-container">
        <div class="video-bg-custom">
            <video class="fade-in-video" preload="auto" autoplay="true" loop="loop" muted="muted" id="videoGB">
                <source src="./assets/videos/CustomContentDevelopment.mp4" type="video/mp4"> video not supported
            </video>
        </div>
        <div class="video-overlay"></div>
        <!-- <div class="img-back-custom"></div> -->
        <div class="imageText" ng-style="vm.paddingTopLogo"> <img src="./assets/images/mainpagelogo.png" alt="greenbooks logo">
            <div class="textBesideImage white-text">
                <p class="main">out of the <span class="changeText">fixed</span>.</p>
                <p class="submain"><span>personalised</span></p>
            </div>
        </div>
    </div>
    <div class="btn-scroll">
        <button href class="btn-large waves-effect waves-light event-second-btn" ng-click="vm.scrollTo()">
            <i class="fa fa-chevron-down fa-2x"></i>
        </button>
    </div>
</div>
<div class="what" id="section-custom">
    <div class="section">
        <div class="container">
            <h1 class="center-align whatTitle">Custom Content development</h1>
            <div class="row blockWithQuote">
                <div class="col s12 m12 l6">
                    <div class="borderTopBottom">
                        <h5 class="leftH5"> Large organizations like USL- Diageo, Deutsche Bank, Larson & Toubro and many others have relied on our expertise for their customised content requirements. </h5> </div>
                </div>
                <div class="col s12 m12 l6">
                    <p class="paragraphWithoutTop"> If your learning needs are diverse and unique to your business, you need customized solutions. </p>
                    <p> We provide meaningful learning experiences with a lasting effect on learners. Our tailor-made learning solutions engage learners deeply and drive measurable behavioral change. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="triangleWhite"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
    <div class="section greyBackground">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l4 left-align">
                    <p class="container sectionTitle"><span class="underlineGreen">Advantage</span></p>
                </div>
            </div>
            <div class="advantageCustom">
                <div class="row center paddingTopAdvantage">
                    <div class="col s12 m6 l3"> <img src="./assets/images/what/WhatWeDo-49.png" alt="icon advantage greenbooks">
                        <p>content is relevant to the audience</p>
                    </div>
                    <div class="col s12 m6 l3"> <img src="./assets/images/what/WhatWeDo-50.png" alt="icon advantage greenbooks">
                        <p>content meets identified organizational needs</p>
                    </div>
                    <div class="col s12 m6 l3"> <img src="./assets/images/what/WhatWeDo-51.png" alt="icon advantage greenbooks">
                        <p>content is delivered on the most effective and convenient platforms</p>
                    </div>
                    <div class="col s12 m6 l3"> <img src="./assets/images/what/WhatWeDo-52.png" alt="icon advantage greenbooks">
                        <p>learning process is mapped to the learning outcome</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="triangleGrey"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
    <div class="section approachCorporate">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l4 left-align">
                    <p class="container sectionTitle"><span class="underlineGreen">Approach</span></p>
                </div>
                <div class="row">
                    <div class="col s12 m12 l12">
                        <p class="p1"> Based on your business goals, we map the workforce performance needs and learning needs. We combine these needs with a variety of tools such as interactive methods, meaningful graphics and appropriate language to customize learning material – and deliver across a host of devices such as mobile, desktops and tablets, selected by convenience and learning effectiveness. </p>
                        <p class="p2">Learner centric innovation is at the core of our Ideation and Design process.</p>
                    </div>
                </div>
                <div class="designProcess paddingTop2rem">
                    <div class="row center">
                        <div class="col s12 m4 l3 push-l2">
                            <h5>STEP 1: SENSE MAKING <i class="material-icons">play_arrow</i></h5> <img class="dashedBorder" src="./assets/images/what/WhatWeDo-53.png" alt="sense making greenbooks"> </div>
                        <div class="col s12 m4 l3 push-l2">
                            <h5>STEP 2: CHANGE MAKING <i class="material-icons">play_arrow</i></h5> <img class="dashedBorder" src="./assets/images/what/WhatWeDo-54.png" alt="change making greenbooks"> </div>
                        <div class="col s12 m4 l3 push-l2">
                            <h5>STEP 3: CONTENT DELIVERY</h5> <img src="./assets/images/what/WhatWeDo-55.png" alt="content delivery greenbooks"> </div>
                    </div>
                </div>
                <div class="paddingBottom5rem"></div>
            </div>
        </div>
    </div>
    <div class="triangleWhite"></div>
    <div class="leftDivisionGreyBack"></div>
    <div class="rightDivisionGreyBack"></div>
    <slide-methodologies></slide-methodologies>
    <div class="triangleGrey"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
    <slide-success></slide-success>
    <div class="triangleWhite"></div>
    <div class="leftDivision"></div>
    <div class="rightDivision"></div>
</div>
