<ul class="collapsibleFacilitators" data-collapsible="accordion">
    <li>
        <div class="collapsible-header" ng-click="changeFacIcon(0)"> <i class="material-icons md-36 triangleIcon">{{shyamIcon}}</i>Shyam Sunder </div>
        <div class="collapsible-body">
            <div class="row">
                <div class="positionRelative">
                    <div class="col s12 m12 l12">
                        <img src="./assets/images/about/facilitatorphoto-19.png" alt="Shyam Sunder greenbooks">
                        <p class="textBottom"> <span>Shyam Sunder</span>
                            <br/> Principal Consultant & Cofounder </p>
                        <div class="content-text">
                            <p> Shyam is the co-founder of Greenbooks, and he has 15 years of experience in training and consulting with organizations such as American Express, HSBC, Citi, NTPC, L&T, Amazon, Verizon, Wipro, Hexaware, Nokia, Randstad, Hyundai, Xansa, Airtel, Hutch and many more.</p>
                            <p>As a learning architect who helps organizations build result-driven learning interventions and performance solutions, Shyam also delivers international assignments in UK and Asia.</p>
                            <p>He is also a certified ROI Professional, who has trained with Dr. Jack Phillips and conducts ROI studies for organizations in India. He has pioneered and evangelized ROI measurements in India and has trained more than 300 HR & Training professionals on learning measurements and strategy to build capacity in measurement, evaluation & ROI.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="collapsible-header" ng-click="changeFacIcon(1)"> <i class="material-icons md-36 triangleIcon">{{captIcon}}</i>Capt. Charanjit Lehal </div>
        <div class="collapsible-body">
            <div class="row">
                <div class="col s12 m12 l12">
                    <img src="./assets/images/about/lehal.jpg" alt="Capt. Charanjit Lehal greenbooks">
                    <p class="textBottom"><span>Capt. Charanjit Lehal</span></p>
                    <div class="content-text">
                        <p>A HR professional with over 25 years of experience, Capt. Charan specialized in Learning and Development and Talent Management in the media, telecom and civil service sectors. He has had significant exposure to culture transformation, aligning learning and development with business objectives, leadership development, change facilitation, team building, executive coaching and mentoring. Recognized internationally through the publication of case studies, the endorsement of a book and by authoring a chapter in a book by the American Society for Training and Development, Charan is a Certified Executive Coach and Certified ROI practitioner. Charan is an ROI consultant for Greenbooks.</p>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="collapsible-header" ng-click="changeFacIcon(2)"> <i class="material-icons md-36 triangleIcon">{{sumitIcon}}</i>Sumit Joshi</div>
        <div class="collapsible-body">
            <div class="row">
                <div class="col s12 m12 l12">
                    <img src="./assets/images/about/sumit.jpg" alt="Sumit Joshi greenbooks">
                    <p class="textBottom"><span>Sumit Joshi</span></p>
                    <div class="content-text">
                        <p>A Post Graduate from XLRI, Jamshedpur and a graduate from IIT Roorkee, Sumit has more than 19 years of corporate experience. He has successfully demonstrated capabilities in varied roles like Quality Management, Training & Development, Process Improvement, Organization Development and Business Excellence. The common thread across all these roles has been managing organization-wide change management initiatives through diverse, multi-location teams.</p>
                        <p>His versatile experience stretches across various industries like Automobiles, IT, ITES, Pharmaceutical, Chemicals and Infrastructure and brings in him a deep understanding of business fundamentals.</p>
                        <p>During the initial part of his career, Sumit handled Quality Management & Customer Service and later transitioned into Learning & OD. He managed end-to-end training activities, driving employee engagement and designing & deploying Performance Management System and measurement processes.</p>
                        <p>He is a Six Sigma Black Belt and a Certified Professional Behavioral Analyst (CPBA). He holds an NLP Practitioner license from Dr. Richard Bandler's Institute and has been trained in Jack Philips ROI model of measuring training effectiveness. Sumit is an ROI consultant for Greenbooks.</p>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
