<div class="sales"></div>
<div class="success">
    <div class="success-content">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4 left-align">
                        <p class="container sectionTitle"><span class="underlineGreen">Challenge</span></p>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="wide-content">
                                <p> USL-Diageo wanted to enhance the sales capability and negotiation skills of their junior and senior sales executives. Presently, it was observed that the sales force has an unstructured approach to the market (fragmented use of analytics) and an inconsistent use of sales skills. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleWhite"></div>
        <div class="leftDivisionGreyBack"></div>
        <div class="rightDivisionGreyBack"></div>
        <div class="section greyBackground">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4 left-align">
                        <p class="container sectionTitle"><span class="underlineGreen">Solution</span></p>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="wide-content">
                                <p> The Territory Sales Executives (TSE), who were between zero to one year of experience, went through a Sales Mastery program that covered a structured sales call process with an emphasis on planning and executing. TSEs, who were between one to five years of experience, went through an Advanced Sales Mastery module on Persuasive Selling and Negotiation. </p>
                                <p class="padding-top-1rem"> These programs were unique, specialised and customised to address USL-specific requirements. Participants learned through company-specific examples, language and workplace vocabulary that created relevance and meaning in their learning. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleGrey"></div>
        <div class="leftDivision"></div>
        <div class="rightDivision"></div>
        <div class="section wide-content-image">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4 left-align">
                        <p class="sectionTitle"><span class="underlineGreen">Results</span></p>
                    </div>
                </div>
                <div class="paddingTop2rem"></div>
                <div class="row blockWithQuote ">
                    <div class="col s12 m12 l4 center"> <img src="./assets/images/success/ROI-34.png" alt="roi results image"> </div>
                    <div class="col s12 m12 l8">
                        <div class="borderTopBottom">
                            <h5 class="leftH5"> 97% of the participants built the consultative sales capability and earned their respective certificate. </h5> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleWhite"></div>
        <div class="leftDivisionGreyBack"></div>
        <div class="rightDivisionGreyBack"></div>
        <!-- <div class="section greyBackground">
            <div class="container">
                <h2 class="center-align methoTitle">Related Stories</h2>
                <div class="row success-stories">
                    <div class="col s12 m6 l4 relativePosition" ng-repeat="successStory in vm.successStories | filter:'design' | filter:'!success.sales'">
                        <a ui-sref="{{successStory.url}}">
                            <div class="blackBrackground animated fadeIn"> <img class="img1" ng-src="{{successStory.img1}}" alt="{{successStory.alt}}"> <img class="img2" ng-src="{{successStory.img2}}" alt="{{successStory.alt}}"> </div>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="greyBackground">
            <slide-success remove="6"></slide-success>
        </div>
        <div class="triangleGrey"></div>
        <div class="leftDivision"></div>
        <div class="rightDivision"></div>
    </div>
</div>
