<div class="job"></div>
<div class="success">
    <div class="success-content">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4 left-align">
                        <p class="container sectionTitle"><span class="underlineGreen">Challenge</span></p>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="wide-content">
                                <p> It was observed that the USL-Diageo sales force had an unstructured approach to the market and was inconsistent in its use of sales skills. </p>
                                <p class="padding-top-1rem"> Considering the complexity of their sales processes, making the connection between the classroom modules and the real-time sales situations was a huge challenge. Even a well-structured training module alone wouldn’t have been enough. </p>
                                <p class="padding-top-1rem"> A tool, where the right information can be made available to the right people at the right time, was what was needed. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleWhite"></div>
        <div class="leftDivisionGreyBack"></div>
        <div class="rightDivisionGreyBack"></div>
        <div class="section greyBackground">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4 left-align">
                        <p class="container sectionTitle"><span class="underlineGreen">Solution</span></p>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="wide-content">
                                <p> A detailed immersion and a through mapping of their behaviours on the job, led to the creation of a powerful job aid. </p>
                                <p class="padding-top-1rem"> The job aid provided information, instructions, processes, and procedures on how to accomplish sales success in the sales process through a standardised format. It contained a short guide on the procedure and a checklist in multiple formats/media, which was translated onto an online electronic performance support system, which would provide them just-in-time training. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleGrey"></div>
        <div class="leftDivision"></div>
        <div class="rightDivision"></div>
        <div class="section wide-content-image">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4 left-align">
                        <p class="sectionTitle"><span class="underlineGreen">Results</span></p>
                    </div>
                </div>
                <div class="paddingTop2rem"></div>
                <div class="row blockWithQuote ">
                    <div class="col s12 m12 l4 center"> <img src="./assets/images/success/ROI-34.png" alt="roi results image"> </div>
                    <div class="col s12 m12 l8">
                        <div class="borderTopBottom">
                            <h5 class="leftH5"> By using the support of the job aid, the sales force was able to follow a structured approach while conducting their sales calls and reported that they were able to cover more distributors in a day as a result of the standardized approach. </h5> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleWhite"></div>
        <div class="leftDivisionGreyBack"></div>
        <div class="rightDivisionGreyBack"></div>
        <!-- <div class="section greyBackground">
            <div class="container">
                <h2 class="center-align methoTitle">Related Stories</h2>
                <div class="row success-stories">
                    <div class="col s12 m6 l4 relativePosition" ng-repeat="successStory in vm.successStories | filter:'design' | filter:'!success.job'">
                        <a ui-sref="{{successStory.url}}">
                            <div class="blackBrackground animated fadeIn"> <img class="img1" ng-src="{{successStory.img1}}" alt="{{successStory.alt}}"> <img class="img2" ng-src="{{successStory.img2}}" alt="{{successStory.alt}}"> </div>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="greyBackground">
            <slide-success remove="1"></slide-success>
        </div>
        <div class="triangleGrey"></div>
        <div class="leftDivision"></div>
        <div class="rightDivision"></div>
    </div>
</div>
