<div id="modalRequest" class="modal bottom-sheet">
    <div class="container">
        <div class="modal-content">
            <div class="row">
                <div class="col m6 s12 modalLeft">
                    <p class="p1">any questions? please call or email us. you can also make a quick enquiry with our friendly learning advisers using this form.</p>
                    <p class="p2">+91-8880-100-200</p>
                    <p class="p3">info@greenbooks.co.in</p>
                </div>
                <div class="col m6">
                    <form id="request-callback" name="request-callback">
                        <div class="input-field col s12 m12"> <i class="material-icons md-24 prefix">account_circle</i>
                            <input id='FirstName' name='FirstName' type="text" class="validate" ng-model="formCall.name" required>
                            <label for="name">name*</label>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m6"> <i class="material-icons md-24 prefix">phone</i>
                                <input id='Phone' name='Phone' type="text" class="validate" ng-model="formCall.phone" required="" aria-required="true">
                                <label for="phone">phone number*</label>
                            </div>
                            <div class="input-field col s12 m6"> <i class="material-icons md-24 prefix">business</i>
                                <input id='Company' name='Company' type="text" class="validate" ng-model="formCall.company">
                                <label for="company">company</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m6"> <i class="material-icons md-24 prefix">email</i>
                                <input id='EmailAddress' name='EmailAddress' type="email" class="validate" ng-model="formCall.email" required>
                                <label for="email">email*</label>
                            </div>
                            <div class="input-field col s12 m6"> <i class="material-icons md-24 prefix">location_city</i>
                                <input id='mx_City' name='mx_City' type="text" class="validate" ng-model="formCall.city">
                                <label for="city">city</label>
                            </div>
                        </div>
                        <div class="input-field col s12 m12"> <i class="material-icons md-24 prefix">message</i>
                            <textarea id="Notes" name="Notes" class="materialize-textarea" ng-model="formCall.message"></textarea>
                            <label for="message">message</label>
                        </div>
                        <button href id="form-submit-button" type="submit" class="btn-large col s6 m4 l4 push-s3 push-m4 push-l4 waves-effect waves-light btn-greenBooks-grey" ng-click="submitForm()">call me back</button>
                        <input type="hidden" name="MXHOrgCode" value="7983" />
                        <input type="hidden" name="MXHLandingPageId" value="db1f89bf-f57a-11e5-b61b-22000aa8e760" />
                        <input type="hidden" name="MXHFormBehaviour" value="0" />
                        <input type="hidden" name="MXHFormDataTransfer" value="0" />
                        <input type="hidden" name="MXHRedirectUrl" value="/" />
                        <input type="hidden" name="MXHAsc" value="5" />
                        <input type="hidden" name="MXHPageTitle" value="request call back form" />
                        <input type="hidden" name="MXHOutputMessagePosition" value="0" />
                        <input type="hidden" name="MXHIsExternallyUsed" value="1" />
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer"> <a href class=" modal-action modal-close waves-effect waves-light btn-flat">close</a> </div>
    </div>
</div>
