<div class="elsevier"></div>
<div class="success">
    <div class="success-content">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4 left-align">
                        <p class="container sectionTitle"><span class="underlineGreen">Challenge</span></p>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="wide-content">
                                <p> The Elsevier team in India interacts a lot with authors and scientists around the world to publish their books and journals. Repeated errors in communication have left a negative impression of the company on the authors and scientists.</p>
                                <p class="padding-top-1rem"> There was also a significant loss of time in rectifying complaints that stemmed from miscommunication with the authors and colleagues from their international offices. There was also the threat of Chennai operations being unplugged.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleWhite"></div>
        <div class="leftDivisionGreyBack"></div>
        <div class="rightDivisionGreyBack"></div>
        <div class="section greyBackground">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4 left-align">
                        <p class="container sectionTitle"><span class="underlineGreen">Solution</span></p>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="wide-content">
                                <p> A Business English blended learning program that minimized classroom training and maximized on the job learning was crafted. It emphasized the practical use of learning with real work experiences that were shared, discussed and then, taken back to be applied at work. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleGrey"></div>
        <div class="leftDivision"></div>
        <div class="rightDivision"></div>
        <div class="section wide-content-image">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4 left-align">
                        <p class="sectionTitle"><span class="underlineGreen">Results</span></p>
                    </div>
                </div>
                <div class="paddingTop2rem"></div>
                <div class="row blockWithQuote ">
                    <div class="col s12 m12 l4 center"> <img src="./assets/images/success/ROI-34.png" alt="roi results image"> </div>
                    <div class="col s12 m12 l8">
                        <div class="borderTopBottom">
                            <h5 class="leftH5"> The people managers saved 34.5 days annually<br/> The project head saved 7.8 days annually<br/> The average number of emails that the participants wrote before the workshop was 20 per day and this increased to 32 per day after the workshop program<br/> Escalations came down from seven to zero </h5> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleWhite"></div>
        <div class="leftDivisionGreyBack"></div>
        <div class="rightDivisionGreyBack"></div>
        <!-- <div class="section greyBackground">
            <div class="container">
                <h2 class="center-align methoTitle">Related Stories</h2>
                <div class="row success-stories">
                    <div class="col s12 m6 l4 relativePosition" ng-repeat="successStory in vm.successStories | filter:'design' | filter:'!success.elsevier'">
                        <a ui-sref="{{successStory.url}}">
                            <div class="blackBrackground animated fadeIn"> <img class="img1" ng-src="{{successStory.img1}}" alt="{{successStory.alt}}"> <img class="img2" ng-src="{{successStory.img2}}" alt="{{successStory.alt}}"> </div>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="greyBackground">
            <slide-success remove="2"></slide-success>
        </div>
        <div class="triangleGrey"></div>
        <div class="leftDivision"></div>
        <div class="rightDivision"></div>
    </div>
</div>
