<div class="section methodologies" id="section-methodology">
    <div class="container">
        <h1 class="center-align methoTitle smaller-title">Methodologies</h1>
        <div class="row">
            <div class="col s12 m8 push-m2 center">
                <p class="p1"> Building the right learning experience demands the right methodology and technology. We use a variety of learning tools and technology to create an effective learning experience that is relevant, engaging and memorable which will improve learning outcomes and business results. </p>
            </div>
        </div>
    </div>
</div>
<div class="triangleWhite"></div>
<div class="leftDivision"></div>
<div class="rightDivision"></div>
<div class="section communicationDirec greyBackground">
    <div class="container metho-boxes">
        <h2 class="center-align methoTitle">All methodologies</h2>
        <div class="row">
            <div class="col s12 m6 l4">
                <a href ui-sref="metho.elear">
                    <div class="blackBackground cursor-pointer"> <img src="./assets/images/methodologies/methodoillustrationsSMALL-11.png" alt="e-learning greenbooks">
                        <div class="textInside center">
                            <p>e-learning</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m6 l4">
                <a href ui-sref="metho.mlear">
                    <div class="blackBackground cursor-pointer"> <img src="./assets/images/methodologies/methodoillustrationsSMALL-10.png" alt="m-learning greenbooks">
                        <div class="textInside center">
                            <p>m-learning</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m6 l4">
                <a href ui-sref="metho.webinar">
                    <div class="blackBackground cursor-pointer"> <img src="./assets/images/methodologies/methodoillustrationsSMALL-13.png" alt="webinar greenbooks">
                        <div class="textInside center">
                            <p>webinar</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m6 l4">
                <a href ui-sref="metho.video">
                    <div class="blackBackground cursor-pointer"> <img src="./assets/images/methodologies/methodoillustrationsSMALL-12.png" alt="video greenbooks">
                        <div class="textInside center">
                            <p>video</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m6 l4">
                <a href ui-sref="metho.simu">
                    <div class="blackBackground cursor-pointer"> <img src="./assets/images/methodologies/methodoillustrationsSMALL-14.png" alt="simulation greenbooks">
                        <div class="textInside center">
                            <p>simulation</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m6 l4">
                <a href ui-sref="metho.gameBased">
                    <div class="blackBackground cursor-pointer"> <img src="./assets/images/methodologies/methodoillustrationsSMALL-15.png" alt="game-based greenbooks">
                        <div class="textInside center">
                            <p>game-based</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m6 l4 push-l4">
                <a href ui-sref="metho.blended">
                    <div class="blackBackground cursor-pointer"> <img src="./assets/images/methodologies/methodoillustrationsSMALL-16.png" alt="blended learning greenbooks">
                        <div class="textInside center">
                            <p>blended learning</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="triangleGrey"></div>
<div class="leftDivision"></div>
<div class="rightDivision"></div>
