<div class="badges"></div>
<div class="success">
    <div class="success-content">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4 left-align">
                        <p class="container sectionTitle"><span class="underlineGreen">Workshop introduction</span></p>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="wide-content">
                                <p> Digital Badges are quickly becoming the standard for tracking and validating skills and achievements in the corporate world. Badges are emerging as an accepted representation of professional credentials over traditional paper certificates. </p>
                                <p class="padding-top-1rem"> A Digital Badge is a visual representation of the achievements, skills, competencies you will earn before, during and after the ROI workshop. Represented by a graphical image, Digital Badges contain comprehensive data  to authenticate the badge owners’ credentials, by including information on who earned the badge, its criteria, learning evidence, and who endorsed it. </p>
                                <p class="padding-top-1rem"> At Greenbooks, we translate your learning outcomes, achievements and contributions into web-enabled, shareable digital badges. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleWhite"></div>
        <div class="leftDivisionGreyBack"></div>
        <div class="rightDivisionGreyBack"></div>
        <div class="section greyBackground">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4 left-align">
                        <p class="container sectionTitle"><span class="underlineGreen">Challenge</span></p>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="wide-content">
                                <p> To make the ROI process of learning fun and competitive. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleGrey"></div>
        <div class="leftDivision"></div>
        <div class="rightDivision"></div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4 left-align">
                        <p class="container sectionTitle"><span class="underlineGreen">Solution</span></p>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="wide-content">
                                <p> Greenbooks came up with an idea for Digital Badges. These badges would act as rewards for the participants for the completion of various tasks and stages of learning. These badges can be displayed by the participants on their social media accounts as accomplishments. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangleWhite"></div>
        <div class="leftDivisionGreyBack"></div>
        <div class="rightDivisionGreyBack"></div>
        <div class="section wide-content-image greyBackground">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4 left-align">
                        <p class="sectionTitle"><span class="underlineGreen">Results</span></p>
                    </div>
                </div>
                <div class="paddingTop2rem"></div>
                <div class="row blockWithQuote ">
                    <div class="col s12 m12 l4 center"> <img src="./assets/images/success/ROI-34.png" alt="roi results image"> </div>
                    <div class="col s12 m12 l8">
                        <div class="borderTopBottom">
                            <h5 class="leftH5"> Increase in the number of participants applying the ROI methodology at work.<br/> Increase in the participants taking the tasks seriously and on a timely manner. </h5> </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="triangleWhite"></div><div class="leftDivisionGreyBack"></div><div class="rightDivisionGreyBack"></div><div class="section greyBackground"> <h2 class="center-align methoTitle">Related Stories</h2> <div class="row success-stories"> <div class="col s12 m6 l4 relativePosition" ng-repeat="successStory in vm.successStories | filter:'design' | filter:'!success.deutsche'"> <a ui-sref="{{successStory.url}}"> <div class="blackBrackground animated fadeIn"> <img class="img1" ng-src="{{successStory.img1}}"> <img class="img2" ng-src="{{successStory.img2}}"> </div></a> </div></div></div>-->
        <div class="triangleGrey"></div>
        <div class="leftDivision"></div>
        <div class="rightDivision"></div>
        <div class="">
            <slide-success remove="8"></slide-success>
        </div>
        <div class="triangleWhite"></div>
        <div class="leftDivision"></div>
        <div class="rightDivision"></div>
    </div>
</div>
